.mobile-app {
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 8rem 0 8rem 0;
}
.context {
  max-width: 50%;
}
.phone img {
  height: 37rem;
  width: 25rem;
}
.description h1 {
  color: green;
}
.description p {
  color: rgb(126, 123, 123);
  font-size: 16px;
  padding: 1rem 0;
}
.store {
  display: flex;
  gap: 1rem;
}

.store img {
  height: 3rem;
  width: 10rem;
}
.store img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and(max-width: 700px) {
  .mobile-app {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    display: block;
    text-align: center;
    padding: 4rem 0 4rem 0;
  }
  .store {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .store img {
    height: 2rem;
    width: 5rem;
  }
  .phone img {
    height: 16rem;
    width: 14rem;
  }
  .context {
    max-width: 100%;
  }
}
