.body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16rem 0 4rem 0;
  gap: 2rem;
}
.body-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16rem 0 4rem 0;
  gap: 2rem;
}

.body-content {
  text-align: left;
  font-size: 2rem;
}
.body-content-dark {
  text-align: left;
  font-size: 2rem;
}

.body-content h1 {
  color: rgb(3, 63, 3);
}
.body-content-dark h1 {
  color: rgb(4, 122, 4);
}
.body-content h3 {
  color: rgb(54, 54, 54);
}
.body-content-dark h3 {
  color: white;
}
.body-content button {
  background-color: green;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: hidden;
  transition: 0.5s;
}
.body-content-dark button {
  background-color: green;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: hidden;
  transition: 0.5s;
}
.body img {
  height: 35rem;
  width: 35rem;
  display: block;
}
.body-dark img {
  height: 35rem;
  width: 35rem;
  display: block;
}
.body-content button:hover {
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: gray 1px 4px 4px;
  background-color: rgb(12, 182, 12);
}
.body-content-dark button:hover {
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: rgb(209, 208, 208) 1px 2px 4px;
  background-color: rgb(12, 182, 12);
}

@media only screen and (max-width: 700px) {
  .body {
    padding-top: 22rem;
  }
  .body-dark {
    padding-top: 22rem;
  }
  .body-content {
    text-align: center;
    font-size: 2rem;
  }
  .body-content-dark {
    text-align: center;
    font-size: 2rem;
  }
  .body img {
    display: none;
  }

  .body-dark img {
    display: none;
  }
  .body-content h1 {
    color: rgb(3, 63, 3);
    font-size: 2rem;
  }
  .body-content-dark h1 {
    color: rgb(4, 122, 4);
    font-size: 2rem;
  }
  .body-content h3 {
    color: rgb(54, 54, 54);
    font-size: 1rem;
  }
  .body-content-dark h3 {
    color: white;
    font-size: 1rem;
  }
}
